.pizza-size {
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.pizza-size__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.back {
    padding: 3px;
    height: 50px;
    margin-top: 10px;
    background-color: #eeeded;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
}

[id^=small], [id^=big] {
    display: none;
}

[id^=small] + label,
[id^=big] + label {
    display: inline-block;
    vertical-align: middle;
    background: #eeeded;
    font-size: 16px;
    padding: 8px 130px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

[id^=small] + label:nth-of-type(1),
[id^=big] + label:nth-of-type(1) {
    border-radius: 25px;
}

[id^=small] + label:nth-of-type(2),
[id^=big] + label:nth-of-type(2) {
    border-radius: 25px;
}

[id^=small] + label:before,
[id^=big] + label:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

[id^=small]:checked + label:before,
[id^=big]:checked + label:before {
    bottom: 0;
    background: white;
    height: 100%;
}

[id^=small]:checked + label > span,
[id^=big]:checked + label > span {
    color: black;
    position: relative;
}
